.calendar a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: black;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px
}

.calendar-table tbody td a:hover,
.calendar-table tbody td a.prev-day:hover,
.calendar-table tbody td a.next-day:hover {
  background: #f07300
}

.calendar a:active {
  opacity: .75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75)
}

.calendar-table {
  float: left;
  font-size: 1em;
  border-bottom: 1px solid #00A300;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -o-box-shadow: 0 1px 2px #40ff00;
  -ms-box-shadow: 0 1px 2px #40ff00;
  -moz-box-shadow: 0 1px 2px #40ff00;
  -webkit-box-shadow: 0 1px 2px #40ff00;
  box-shadow: 0 1px 2px #40ff00
}

.calendar-table tbody td {
  background: -webkit-linear-gradient(#009900, #006600);
  background: -moz-linear-gradient(#76aaef, #0085CC);
  background: -ms-linear-gradient(#76aaef, #0085CC);
  background: -o-linear-gradient(#76aaef, #0085CC);
  padding: 0;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px
}

.calendar-table tbody td a {
  color: white
}

.calendar-table tbody td a.prev-day,
.calendar-table tbody td a.next-day {
  background: -webkit-linear-gradient(#FFFFFF, #dcffdc);
  background: -moz-linear-gradient(#76aaef, #0085CC);
  background: -ms-linear-gradient(#76aaef, #0085CC);
  background: -o-linear-gradient(#76aaef, #0085CC);
  color: #bfbfbf
}

.calendar-table tbody td a {
  color: white
}

.calendar-table tbody td.selected {
  background: none
}

.calendar-table .selected a {
  background: -webkit-linear-gradient(#ffb647, #FF6600);
  background: -moz-linear-gradient(#76aaef, #0085CC);
  background: -ms-linear-gradient(#76aaef, #0085CC);
  background: -o-linear-gradient(#76aaef, #0085CC);
  color: black;
  -o-box-shadow: inset 0 1px #FFDAC2;
  -ms-box-shadow: inset 0 1px #FFDAC2;
  -moz-box-shadow: inset 0 1px #FFDAC2;
  -webkit-box-shadow: inset 0 1px #FFDAC2;
  box-shadow: inset 0 1px #FFDAC2
}